html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Nunito,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#cmap-ui {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 2rem;
}

.cmap-vbox {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.cmap-hbox {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: start;
}

.cmap-layout {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}

.cmap-layout-viewport {
  overflow: auto; /* overflow the content using scrollbars */
  flex: auto; /* expand to fill the vertical space allowed by flexbox */
  position: relative;
}

.cmap-layout-container {
  position: absolute;;
  width: calc(100% - 2rem);
  height: calc(100% - 2.5rem);
}

.cmap-canvas {
  position: absolute;
}

.cmap-layout-horizontal {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: relative;
}

.cmap-layout-circos {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: relative;
}

.cmap-correspondence-map {
  /* border: dashed 2px cyan; */
}

.cmap-biomap {
  /* border: dashed 2px grey; */
}

.cmap-biomap.selected {
  border: dashed 2px magenta;
}

h4.cmap-header {
  margin-bottom: 0;
}

.cmap-tools h5 {
  margin-bottom: 0;
}

span.cmap-header {
}

.cmap-footer {
}

.cmap-attribution {
}

.cmap-map-removal-dialog, .cmap-map-addition-dialog {
  padding-left: 2rem;
  border-left: solid 4px grey;
}

.cmap-map-addition-dialog label {
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
}

button > i{
  vertical-align: -30%;
}

div.cmap-tools button {
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

button[disabled] {
  background:#ccc;
  border-color: #ccc;
  text-shadow:none;
}

span.cmap-map-name-chip {
  background: #eee;
  border-radius: 4px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-right: 0.5rem;
}

.biomap-info {
  width: 15em;
  height: 10em;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: white;
  position: absolute;
  display: inline-block;
  overflow-y: auto;
  z-index: 10;
}

.biomap-info-name {
  margin: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background:white;
  text-align: center;
}

.biomap-info-name:hover {
  background:#ccc;
}

.biomap-info-data {
  margin: 5px 20px 5px 20px;
}
.swap-div{
  z-index:100;
  display:flex;
}
.swap-map-order{
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: white;
  text-align:center;
  top:50%;
  bottom: 50%;
}
.map-title{
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background: white;
}
.swap-map-order:hover {
  background:#ccc;
}
