.cmap-toolbar-icon {
  vertical-align: sub
}

.cmap-logo {
  display: inline;
  float: left;
  padding-right: 1rem;
  font-size: 2rem;
}

.content {
  margin-top: 1rem;
}

.cmap-canvas {
  border: 1px dotted;
  border-color: grey;
  position: absolute;;
}

.cmap-canvas-selected {
  border-color: cyan;
}

.cmap-layout {
  height: 95vh;
}

.cmap-layout-horizontal {
  background-color: lightblue;
  position: relative;
}
